.post {
    margin: 20px auto; /* margine da tutti i lati */
    width: 80%; /* larghezza */
    border-radius: 20px; /* bordo arrotondato */
    background-color: #fafafa; /* sfondo panna chiaro */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* ombra */
    padding: 20px; /* spazio interno */
    max-width: 600px; /* larghezza massima */
}

p {
    padding: 20px;
}

#postSContaneir {
    min-height: 90vh; /* Altezza minima pari all'altezza del viewport */
}

.userInfo a,
.infoPost p,
.comment a {
    color: #000; /* Imposta il colore del testo in nero */
    text-decoration: none; /* Rimuove la sottolineatura */
}

.post button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4158D0;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    border: none;
    cursor: pointer;
}

.post button:hover {
    background-color: #3545a3;
}

.userInfo {
    display: flex; /* usa il flexbox layout */
    align-items: center; /* allinea verticalmente */
}

.userInfo img {
    width: 50px; /* larghezza dell'immagine del profilo */
    height: 50px; /* altezza dell'immagine del profilo */
    border-radius: 50%; /* rendi l'immagine del profilo rotonda */
    margin-right: 10px; /* margine a destra */
}

.body img {
    max-width: 100%; /* larghezza massima dell'immagine del post */
    height: auto; /* altezza automatica */
}

.infoPost p {
    margin: 5px 0; /* margine sopra e sotto */
}

.like-commenti {
    display: flex; /* usa il flexbox layout */
    justify-content: space-between; /* allinea gli elementi con spazio tra loro */
    margin-bottom: 20px; /* Aggiungi uno spazio bianco di separazione sotto il div */
}

.avviso {
    margin: 10px;
}

.comments-section {
    padding: 10px; /* padding intorno alla sezione dei commenti */
    border-top: 1px solid #ccc; /* bordo sopra i commenti */
    display: block; /* mostra la sezione dei commenti */
}

.comment:not(:last-child) {
    margin-bottom: 20px; /* Aggiungi uno spazio bianco di separazione sotto ogni commento eccetto l'ultimo */
}

.respond-section {
    display: none; /* nascondi la sezione di risposta */
}
/* Stile del contenitore principale del feed */
#feedContainer {
    margin: 20px auto; /* Mantieni il margine */
    background-color: #fff; /* Colore dello sfondo */
}

/* Stile dei singoli post nel feed */
.feedPost {
    background-color: #f9f9f9; /* Colore dello sfondo dei post */
    padding: 20px; /* Spaziatura interna */
    border-radius: 10px; /* Bordi arrotondati */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Ombra */
    margin-bottom: 20px; /* Margine inferiore tra i post */
}
/* Rendi in grassetto i nomi utenti, i follower e i following al passaggio del mouse */
.userInfo a:hover,
#followersCounter p:hover,
#followingCounter p:hover {
    font-weight: bold;
}

