.post {
    margin: 40px; /* margine da tutti i lati */
    width: 80%; /* larghezza */
    margin-left: auto; /* centra orizzontalmente */
    margin-right: auto; /* centra orizzontalmente */
    border: 1px solid #ccc; /* bordo */
    padding: 10px; /* spazio interno */
}

.userInfo {
    display: flex; /* usa il flexbox layout */
    align-items: center; /* allinea verticalmente */
}

.userInfo img, form img {
    width: 50px; /* larghezza dell'immagine del profilo */
    height: 50px; /* altezza dell'immagine del profilo */
    border-radius: 50%; /* rendi l'immagine del profilo rotonda */
    margin-right: 10px; /* margine a destra */
}

.body img {
    max-width: 100px; /* larghezza massima dell'immagine del post */
    max-height: 100px; /* altezza massima dell'immagine del post */
}

.infoPost p {
    margin: 5px 0; /* margine sopra e sotto */
}

.like-commenti {
    display: flex; /* usa il flexbox layout */
    justify-content: space-between; /* allinea gli elementi con spazio tra loro */
    margin-bottom: 20px; /* Aggiungi uno spazio bianco di separazione sotto il div */
}

.avviso {
    margin: 10px;
}

.comments-section {
    padding: 10px; /* padding intorno alla sezione dei commenti */
    border-top: 1px solid #ccc; /* bordo sopra i commenti */
    display: block; /* nascondi la sezione dei commenti */
}

.comment:not(:last-child) {
    margin-bottom: 20px; /* Aggiungi uno spazio bianco di separazione sotto ogni commento eccetto l'ultimo */
}

.respond-section{
    display: none;
}