.btn-annulla {
    position: absolute; /* Imposta il posizionamento assoluto rispetto al contenitore padre */
    top: 10px; /* Sposta il bottone verso l'alto */
    left: 10px; /* Sposta il bottone verso sinistra */
    z-index: 1; /* Assicura che il bottone sia sovrapposto alla barra nera */
    color: aliceblue;
}

.newPost {
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
}

.newPost label {
    font-weight: bold;
}

.newPost input[type="text"],
.newPost input[type="password"],
.newPost textarea,
.newPost input[type="file"] {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-sizing: border-box;
}

#btn-invio {
    display: block;
    width: 100%; /* Imposta la larghezza al 100% */
    padding: 12px 20px; /* Imposta il padding sopra e sotto a 12px e a sinistra e destra a 20px */
    margin-top: 10px;
    background-color: #4158D0;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center; /* Centra il testo all'interno del bottone */
    font-size: 16px; /* Dimensione del testo */
    box-sizing: border-box; /* Considera il padding all'interno delle dimensioni complessive dell'elemento */
}

#btn-invio:hover {
    background-color: #3545a3;
}

